body {
  background-color: #c8adc0;
}

.heading-pos {
  border: solid 2px;
  margin-left: 50px;
  position: static;
  width: 50%;
  padding-left: 40%;
  background-color: #fff1d0;
  border-radius: 400px;
}
.heading-pos:hover {
  background-image: url(/cal.jpg);
}
#title {
  color: #b53a0f;

  font-family: Georgia, "Times New Roman", Times, serif;
}
#title:hover {
  text-shadow: 15px 6px 1px rgba(120, 18, 18, 0.47);
}
.container {
  border: solid 2px;
  background-image: url(/cal.jpg);
  margin: 20px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #c8adc0;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 19px 19px 38px #61545d, -19px -19px 38px #000000;
  display: grid;
  grid-template-columns: repeat(4, 70px);
  align-items: center;
}

input {
  grid-column: span 4;
  height: 70px;
  width: 200px;
  background-color: #342e37;
  color: rgb(226, 215, 215);
  font-size: 40px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
button {
  height: 48px;
  width: 48px;
  background-color: #c8adc0;
  box-shadow: inset 1px 1px 18px 7px #342e38,
    0px 0px 0px 0px rgba(147, 119, 119, 0.3);
  border: none;
  border-radius: 40%;
  margin: 8px;
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bg-color {
  background-color: #c8d1e4;
}
#equal {
  width: 110px;
  border-radius: 10px;
}

.des {
  background-color: #fff1d0;
  margin-left: 20px;
  margin-top: 40px;
  border: solid 2px;
  border-radius: 20px;
  height: 30vh;
}

#description {
  font-size: medium;
  font-family: cursive;
}
